{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    [
      "babel-plugin-direct-import",
      {
        "modules": [
          "@mui/material",
          "@mui/x-data-grid",
          "@fullcalendar/core",
          "@fullcalendar/daygrid",
          "@fullcalendar/timegrid",
          "@fullcalendar/list",
          "@nivo/core",
          "@nivo/pie",
          "@nivo/line",
          "@nivo/bar",
          "@nivo/geo"
        ]
      }
    ],
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties"
  ]
}